<button class="btn btn-primary" (click)="Demo1()">Demo 1</button>
<button class="btn btn-primary" (click)="Demo2()">Demo 2</button>
<!-- <button class="btn btn-primary" (click)="Demo3()">Demo 3</button>
<button class="btn btn-primary" (click)="Demo4()">Demo 4</button>
<button class="btn btn-primary" (click)="Demo5()">Demo 5</button>
<button class="btn btn-primary" (click)="Demo6()">Demo 6</button>
<button class="btn btn-primary" (click)="Demo7()">Demo 7</button>
<button class="btn btn-primary" (click)="Demo8()">Demo 8</button> -->


<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  ></formly-form>
  <button 
    type="submit"
    class="btn btn-primary submit-button"
    [disabled]="!form.valid"
  >
    Submit
  </button>
  <button type="button" class="btn btn-default" (click)="options.resetModel()">
    Reset
  </button>
</form>
